<div class="d-flex justify-content-center" id="container">
  <div class="col-sm-10 col-sm">
    <form (ngSubmit)="onSubmit()"  [formGroup]="modelForm">
      <div class="form-group col-sm-5">
        <h3>Add Model</h3>
      </div>
      <div class="d-flex">
        <div class="form-group col-sm-5">
          <label for="exampleFormControlSelect1">Select Manufacturer</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="manufacturer_id">
            <option *ngFor="let item of manufacturerList" value={{item.id}}>
              {{item.name}}
              </option>
          </select>
        </div>
        <div class="form-group col-sm-5">
          <label for="mname">Name</label>
          <input type="text" class="form-control" id="mname" placeholder="Enter Model name"  formControlName="name">

          <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger">

            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 5 characters long.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-sm-5">
        <label for="color">Color</label>
        <input type="text" class="form-control" id="color" placeholder="Enter Model color"  formControlName="color">
      </div>
      <div class="d-flex">
        <div class="form-group col-sm-5">
          <label for="manufacturing_year">Manufacturing Year</label>
          <input type="number" class="form-control" id="manufacturing_year" placeholder="Enter Manufacturing year"  formControlName="manufacturing_year">
        </div>
        <div class="form-group col-sm-5">
          <label for="registration_number">Registration Number</label>
          <input type="number" class="form-control" id="registration_number" placeholder="Enter Registration number"  formControlName="registration_number">
        </div>
      </div>
      <div class="form-group col-sm-10">
        <label for="note">Note</label>
        <input type="text" class="form-control" id="note" placeholder="Enter note"  formControlName="note">
      </div>
      <div class="d-flex">
        <div class="form-group col-sm-5">
          <label for="document_1">Document 1</label>
          <input type="file" class="form-control-file" id="document_1" accept="image/*" 
          (change)=fileUploader($event)>
        </div>
        <div class="form-group col-sm-5">
          <label for="document_2">Document 2</label>
          <input type="file" class="form-control-file" id="document_2" accept="image/*"
          (change)=fileUploader($event)>
        </div>
      </div>
      
      <div class="form-group col-sm-5">
        <button type="submit" class="btn btn-primary" [disabled]="!modelForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
  
  